name: CI

permissions: {}

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    timeout-minutes: 3
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Display Bash version
        run: bash --version
      - name: Display Git version
        run: git --version
      - name: Shellcheck
        shell: bash
        run: |
          shellcheck --version
          shellcheck inter-git-diff.sh
      - name: Test
        run: test/exec.sh
        env:
          LEFT_REPO: /tmp/left
          RIGHT_REPO: /tmp/right
